// FOOTER SECTION 
.footer.dark-grey-container.padding-vertical.padding-horizontal
  .copyright-holder © 2014 2012HZ78469
  .social-buttons
    a#socialGitHub.circle-40.social-btn.gh-btn.cursor(href='https://github.com/sakthiinfotec', target='_blank')
      img.abs.social-icon(src='/images/social_gh.svg', width='40', height='40')
    a#socialFacebook.circle-40.social-btn.fb-btn.cursor(href='https://www.facebook.com/sakthiinfotec', target='_blank')
      img.abs.social-icon(src='/images/social_facebook.svg', width='40', height='40')
    a#socialTwitter.circle-40.social-btn.tw-btn.cursor(href='https://twitter.com/sakthiinfotec', target='_blank')
      img.abs.social-icon(src='/images/social_twitter.svg', width='40', height='40')
    a#socialTwitter.circle-40.social-btn.gplus-btn.cursor(href='https://plus.google.com/u/0/108665687085348580522', rel='publisher', alt='Google+', target='_blank')
      img.abs.social-icon(src='/images/social_google.svg', width='40', height='40')
    a#socialLinkedIn.circle-40.social-btn.li-btn.cursor(href='http://www.linkedin.com/sakthiinfotec', target='_blank')
      img.abs.social-icon(src='/images/social_linkedin.svg', width='40', height='40')
