extends layout

block content
  #pageContent
    .content-wrapper
      .content
        section
          img.align-right(src='/images/monitor-as-it-happens.jpg')
          h3 Real-time
          | Real-time refers to a level of computer responsiveness that a user senses as immediate or nearly immediate, or that enables a computer to keep up with some external process (for example, to present visualizations of Web site activity as it constantly changes).
          | It consists of dynamic analysis and reporting, based on data entered into a system less than one minute before the actual time of use. Real-time analytics is also known as real-time data analytics, real-time data integration, and real-time intelligence.
          br
          | In this context, real-time means a range from milliseconds to a few seconds after the business event has occurred.
      br
      .content.analytical-dashboard
        section
          img(src='/images/analytical-dashboard.jpg')
          h3 Analytical Dashboard
          | The visualization component then reads the data from the structured data file (JSON/XML), and draws a chart, gauge, or other visualization in the reporting interface. The frequency at which processed data is drawn on client-side is called the refresh interval. In some applications, like stock trading applications, along with rendering a chart, there are pre-set rules that are triggered based on the streaming data.
      br
      .content.applications
        section
          img.align-right(src='/images/applications-of-analytics.jpg')
          h3 Applications of real-time analytics
          | Real-time analytics can support instant refreshes to corporate dashboards to reflect business changes throughout the day. In a data warehouse context, real-time analytics supports unpredictable, ad hoc queries against large data sets. Another application is in scientific analysis such as the tracking of a hurricane's path, intensity, and wind field, with the intent of predicting these parameters hours or days in advance.
          br
          | Financial trading platforms, historic real-time analysis and extreme transaction processing environments, are incorporating even more data by adding media feeds, news, social media sentiment, and even video information to make decisions in real time. Ad networks and media properties are analyzing and optimizing advertising pages, graphics, video, and links to keep you on their site or click more ads. E-commerce retailers continue to capture data about you to support and expand their growth—making offers in real-time.
          br
          br
          | Telecommunications companies track mobile sessions to improve metering, billing, fraud, quality of service, security, location-based services, and more. Internet use is expanding to mobile phones and tablets, leading app developers to track in-app purchases in real-time. Of course sensor networks and internet-of-things infrastructures are being built in many cases to optimize the physical things that are being tracked and monitored, ultimately to make improvements in real-time.
          br
          | In CRM (customer relations management), real-time analytics can provide up-to-the-minute information about an enterprise's customers and present it so that better and quicker business decisions can be made -- perhaps even within the time span of a customer interaction.
