extends layout

block content
  #pageContent
    .content-wrapper
      .content-demo
        .container
          .panel.panel-default
            .panel-heading
              h3.panel-title  ADT^A01 (Patient Admission) message
            .panel-body
              code
                include hl7/ao1.hl7
          .panel.panel-default
            .panel-heading
              h3.panel-title  ADT^A03 (Patient Discharge) message
            .panel-body
              code
                include hl7/ao3.hl7          